In [4]:
import pandas as pd

df = pd.read_parquet("data/yellow_tripdata_2025-01.parquet")
df.head(100)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1.0,1.60,1.0,N,229,237,1,10.0,3.5,0.5,3.00,0.00,1.0,18.00,2.5,0.0,0.0
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1.0,0.50,1.0,N,236,237,1,5.1,3.5,0.5,2.02,0.00,1.0,12.12,2.5,0.0,0.0
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1.0,0.60,1.0,N,141,141,1,5.1,3.5,0.5,2.00,0.00,1.0,12.10,2.5,0.0,0.0
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3.0,0.52,1.0,N,244,244,2,7.2,1.0,0.5,0.00,0.00,1.0,9.70,0.0,0.0,0.0
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3.0,0.66,1.0,N,244,116,2,5.8,1.0,0.5,0.00,0.00,1.0,8.30,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,2025-01-01 00:19:30,2025-01-01 00:27:25,0.0,1.00,1.0,N,211,158,1,9.3,3.5,0.5,2.85,0.00,1.0,17.15,2.5,0.0,0.0
96,1,2025-01-01 00:33:13,2025-01-01 00:40:08,0.0,1.20,1.0,N,158,68,1,8.6,3.5,0.5,1.00,0.00,1.0,14.60,2.5,0.0,0.0
97,1,2025-01-01 00:45:05,2025-01-01 01:20:32,0.0,1.80,1.0,N,68,50,1,28.2,3.5,0.5,8.30,0.00,1.0,41.50,2.5,0.0,0.0
98,2,2025-01-01 00:04:29,2025-01-01 00:55:58,9.0,31.97,5.0,N,132,265,2,90.0,0.0,0.0,0.00,20.32,1.0,111.32,0.0,0.0,0.0
99,2,2025-01-01 00:08:48,2025-01-01 00:14:02,1.0,0.93,1.0,N,229,233,2,7.2,1.0,0.5,0.00,0.00,1.0,12.20,2.5,0.0,0.0

In [5]:
df['VendorID'].unique()

array([1, 2, 7, 6], dtype=int32)